<form id='create_survey_form' action='/users/<%= @user.id %>/surveys' method="post">
  <input type='text' name='title' placeholder='survey title'>
  <input type= 'submit' value='create survey'>
</form>
